$grid-gutter-width:           100px;

/* Colors */
$brown: #755c4e;
$orange: #ec633c;
$blue: #20234c;

$primary: $orange;
$secondary: $blue;
$tertiary: $brown;

$body-color: #765c4f;

$white: #e5e5e5;

$theme-colors: ("white": $white);

$grid-breakpoints: (
  xs: 0,
  sm: 820px,
  md: 1366px,
  lg: 1600px,
);

$container-max-widths: (
  sm: 780px,
  md: 1340px,
  lg: 1520px,
);

/* Fonts */
$font-family-sans-serif: 'GTAmerica', Arial, sans-serif;

$font-size-base:              .75rem; // 12px
$line-height-base:            14/12;
$font-weight-base:            bold;
$paragraph-margin-bottom:     40/22 * 1em;

$h1-font-size:                #{rem(160)};
$h1-line-height:              1em;
$h1-letter-spacing:           -0.03em;

$h2-font-size:                #{rem(80)};
$h2-line-height:              #{em(70, 80)};
$h2-letter-spacing:           -.03em;

$h3-font-size:                #{rem(40)};
$h3-line-height:              #{em(46, 40)};
$h3-letter-spacing:           -0.03em;

$h4-font-size:                #{rem(40)};
$h4-line-height:              #{em(44, 40)};
$h4-letter-spacing:           -0.015em;

$h5-font-size:                #{rem(24)};
$h5-line-height:              #{em(20, 24)};
$h5-letter-spacing:           -0.015em;

$h6-font-size:                #{rem(18)};
$h6-line-height:              #{em(21, 18)};
$h6-letter-spacing:           -0.015em;

/* Header */
$navbar-height:               200px;
$navbar-logo-height:          100px;

$sticky-navbar-height:        120px;
$sticky-logo-height:          60px;

/* Forms */
$input-border-width:          0;
$input-border-radius:         0;
$input-border-radius-lg:      0;
$input-border-radius-sm:      0;