@import 'base/mixins'
@import "vendors/bourbon/bourbon"
@import 'variables'

@keyframes LOGO_GROUP_1_IN
  0%
    opacity: 1
  25%
    opacity: 0
  50%
    opacity: 1
  75%
    opacity: 0
  100%
    opacity: 1

#CHAMAN_LOGO_SVG
  max-height: 80%
  max-width: 75vw
  opacity: 0
  position: relative
  .logo-heading
    @include position(absolute, 50% 50% null null);
    transform: translateY(-50%) translateX(50%)
  &.animated
    opacity: 1
    rect, path
      animation: LOGO_GROUP_1_IN 3s ease-in-out alternate
    @for $i from 1 through 10
      rect:nth-child(#{$i}), path:nth-child(#{$i})
        animation-delay: #{.2*$i}s

@media screen and (max-width: 480px)
  #CHAMAN_LOGO_SVG svg
    height: 100%
    transform: rotate(90deg)
  
#admission-form
  margin-bottom: 190px
  h5
    margin-bottom: 60px
  .form-group
    margin-bottom: 60px
  .form-tabs
    display: block
    background: $primary
    a
      display: inline-block
      color: #fff
      text-transform: uppercase
      &:not(:first-child)
        @include margin(null 50px)
      &:hover
        text-decoration: none
      &[data-open="false"]
        opacity: .7
  .form-tabs-content
    background: #fff
    margin-top: 50px
    padding: 50px
    [data-open="true"]
      display: block
    [data-open="false"]
      display: none
    .form-control
      line-height: 70px
      height: 70px


.wpcf7-form-control
  @extend .form-control
  line-height: 70px
  height: 70px