@font-face {
  font-family: 'GTAmerica';
  src:  url('GT-America-Standard-Ultra-Light.eot') format('eot'),
        url('GT-America-Standard-Ultra-Light.woff') format('woff'),
        url('GT-America-Standard-Ultra-Light.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica';
  src:  url('GT-America-Standard-Ultra-Light-Italic.eot') format('eot'),
        url('GT-America-Standard-Ultra-Light-Italic.woff') format('woff'),
        url('GT-America-Standard-Ultra-Light-Italic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'GTAmerica';
  src:  url('GT-America-Standard-Light.eot') format('eot'),
        url('GT-America-Standard-Light.woff') format('woff'),
        url('GT-America-Standard-Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica';
  src:  url('GT-America-Standard-Light-Italic.eot') format('eot'),
        url('GT-America-Standard-Light-Italic.woff') format('woff'),
        url('GT-America-Standard-Light-Italic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'GTAmerica';
  src:  url('GT-America-Standard-Thin.eot') format('eot'),
        url('GT-America-Standard-Thin.woff') format('woff'),
        url('GT-America-Standard-Thin.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica';
  src:  url('GT-America-Standard-Thin-Italic.eot') format('eot'),
        url('GT-America-Standard-Thin-Italic.woff') format('woff'),
        url('GT-America-Standard-Thin-Italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GTAmerica';
  src:  url('GT-America-Standard-Regular.eot') format('eot'),
        url('GT-America-Standard-Regular.woff') format('woff'),
        url('GT-America-Standard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica';
  src:  url('GT-America-Standard-Regular-Italic.eot') format('eot'),
        url('GT-America-Standard-Regular-Italic.woff') format('woff'),
        url('GT-America-Standard-Regular-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'GTAmerica';
  src:  url('GT-America-Standard-Medium.eot') format('eot'),
        url('GT-America-Standard-Medium.woff') format('woff'),
        url('GT-America-Standard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica';
  src:  url('GT-America-Standard-Medium-Italic.eot') format('eot'),
        url('GT-America-Standard-Medium-Italic.woff') format('woff'),
        url('GT-America-Standard-Medium-Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GTAmerica';
  src:  url('GT-America-Standard-Bold.eot') format('eot'),
        url('GT-America-Standard-Bold.woff') format('woff'),
        url('GT-America-Standard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica';
  src:  url('GT-America-Standard-Bold-Italic.eot') format('eot'),
        url('GT-America-Standard-Bold-Italic.woff') format('woff'),
        url('GT-America-Standard-Bold-Italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'GTAmerica';
  src:  url('GT-America-Standard-Black.eot') format('eot'),
        url('GT-America-Standard-Black.woff') format('woff'),
        url('GT-America-Standard-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica';
  src:  url('GT-America-Standard-Black-Italic.eot') format('eot'),
        url('GT-America-Standard-Black-Italic.woff') format('woff'),
        url('GT-America-Standard-Black-Italic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}