.facilitator
  margin-bottom: 2em
  max-width: 260px
  margin: 0 auto
  figure
    overflow: hidden
    border-radius: 100%
    margin-bottom: 1rem !important
  span, p
    display: block
    margin-bottom: 0