/*
 * --------------------
 * Clients
 * --------------------
 */

.partners
  figure
    margin-bottom: 30px
  .partners-single-title
    margin-bottom: 30px
  .partners-single-subtitle
    text-transform: uppercase
    margin-bottom: 0