.section-popup
  display: none
  &:after
    content: ''
    top: 0 !important
    right: 0 !important
    left: 0 !important
    bottom: 0 !important
    position: fixed !important
    display: none
    z-index: -1
    background: rgba(0,0,0,.8)
  &.active
    overflow-y: scroll
    padding: 100px 0
    top: 0 !important
    right: 0 !important
    left: 0 !important
    position: fixed !important
    display: block
    z-index: 1000
    min-height: 100vh
    &:after
      display: block
  .elementor-editor-active &
    display: block
    @include position(auto, auto)
  &.elementor-section.elementor-section-boxed > .elementor-container
    width: 100%

body.section-popup-active
  overflow: hidden
