.section-popup
  display: none
  // 
  &.active
    overflow-y: scroll
    top: 0 !important
    right: 0 !important
    left: 0 !important
    bottom: 0 !important
    position: fixed !important
    display: block
    z-index: 1000
    min-width: 100vw
    &:after
      display: block
  > .elementor-container
    margin: 100px 0
  .elementor-editor-active &
    display: block
    @include position(auto, auto)
  &.elementor-section.elementor-section-boxed > .elementor-container
    width: 100%

#section-popup-backdrop
  content: ''
  top: 0 !important
  right: 0 !important
  left: 0 !important
  bottom: 0 !important
  position: fixed !important
  display: none
  z-index: 999
  background: rgba(0,0,0,.8)

body.section-popup-active
  overflow: hidden
  #section-popup-backdrop
    display: block
