.tabbed-form
  .form-tabs
    margin-bottom: 40px
    display: flex
    align-items: flex-start
    flex-flow: row
    flex-wrap: wrap
    a
      color: $white
      @extend .h6
      text-transform: uppercase
      &:not(:last-child)
        padding-right: 60px
      &:not(:first-child)
        padding-left: 60px
    [data-open="false"]
      opacity: .7
  .form-group
    width: 80%
    margin-bottom: 55px
  .form-content[data-open='true']
    display: block
  .form-content[data-open='false']
    display: none
  .tabbed-form-container
    background: #fff
    padding: 50px

@include media-breakpoint-down('md')
  .tabbed-form
    .form-group
      width: 100%

@include media-breakpoint-down('sm')
  .tabbed-form
    .tabbed-form-container
      padding: 30px
