/*
 * --------------------
 * Team Member
 * --------------------
 */
.team-members
  figure
    margin-bottom: 50px
  .team-member-name
    margin-bottom: 30px
  .team-member-title
    text-transform: uppercase
    margin-bottom: 0