/*
 * --------------------
 * Testimonial
 * --------------------
 */

.testimonial
  figure
      margin-top: 40px !important
  .testimonial-title
    font-weight: 900
    font-style: italic
    margin-bottom: 65px
  .testimonial-user-info, p
    font-size: 18px
    line-height: 21px
    margin-bottom: 10px
  .testimonial-user-info
    font-weight: bold
    text-transform: uppercase
    margin-bottom: 25px
  p
    font-weight: 500
    &:last-child
      margin-bottom: 0

@include media-breakpoint-up('sm')
  .testimonial
    p:not(:last-child)
      margin-bottom: 2em
    &.testimonial-right
      .row
        flex-flow: row-reverse

@media screen and (min-width: #{map-get($grid-breakpoints, 'sm') + 1px}) and (max-width: #{map-get($grid-breakpoints, 'lg')})
  .testimonial
    .testimonial-title
      font-weight: 700
      margin-bottom: 35px

@media screen and (min-width: #{map-get($grid-breakpoints,  'lg') + 1px})
  .testimonial
    .testimonial-user-info, p
      font-size: 30px
      line-height: 40px