/*
 * --------------------
 * Typography
 * --------------------
 */

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6
  font-weight: bold

h1, .h1
  font-size: $h1-font-size
  letter-spacing: $h1-letter-spacing
  &, .elementor-widget-heading &.elementor-heading-title
    line-height: $h1-line-height

h2, .h2
  font-size: $h2-font-size
  letter-spacing: $h2-letter-spacing
  &, .elementor-widget-heading &.elementor-heading-title
    line-height: $h2-line-height

h3, .h3
  font-size: $h3-font-size
  letter-spacing: $h3-letter-spacing
  &, .elementor-widget-heading &.elementor-heading-title
    line-height: $h3-line-height

h4, .h4
  font-size: $h4-font-size
  letter-spacing: $h4-letter-spacing
  &, .elementor-widget-heading &.elementor-heading-title
    line-height: $h4-line-height

h5, .h5
  font-size: $h5-font-size
  letter-spacing: $h5-letter-spacing
  &, .elementor-widget-heading &.elementor-heading-title
    line-height: $h5-line-height

h6, .h6
  font-size: $h6-font-size
  letter-spacing: $h6-letter-spacing
  &, .elementor-widget-heading &.elementor-heading-title
    line-height: $h6-line-height

.text-body-color
  color: $body-color


// @media screen and (min-width: #{map-get($grid-breakpoints, 'sm') + 1px}) and (max-width: #{map-get($grid-breakpoints, 'lg') - 1})
//   h4, .h4
//     font-size: rem(48)
//     font-weight: 700
//     &, .elementor-widget-heading &.elementor-heading-title
//       line-height: rem(60)
//   body
//     font-size: rem(16)
//     font-weight: 500
//     line-height: rem(24)

@include media-breakpoint-up('sm')
  h2, .h2
    font-size: rem(120)
    &, .elementor-widget-heading &.elementor-heading-title
      line-height: rem(110)
  h3, .h3
    font-size: rem(72)
    &, .elementor-widget-heading &.elementor-heading-title
      line-height: rem(80)
  h4, .h4
    font-size: rem(56)
    &, .elementor-widget-heading &.elementor-heading-title
      line-height: rem(60)
  h5, .h5
    font-size: rem(40)
    &, .elementor-widget-heading &.elementor-heading-title
      line-height: rem(36)
  h6, .h6
    font-size: rem(24)
    &, .elementor-widget-heading &.elementor-heading-title
      line-height: rem(30)

  body, .btn
    font-size: rem(18)
    line-height: rem(21)
    letter-spacing: 0

@include media-breakpoint-up('lg')
  h2, .h2
    font-size: rem(160)
    &, .elementor-widget-heading &.elementor-heading-title
      line-height: rem(150)
  h3, .h3
    font-size: rem(110)
    &, .elementor-widget-heading &.elementor-heading-title
      line-height: rem(120)
  h4, .h4
    font-size: rem(72)
    &, .elementor-widget-heading &.elementor-heading-title
      line-height: rem(90)
  h5, .h5
    font-size: rem(50)
    &, .elementor-widget-heading &.elementor-heading-title
      line-height: rem(40)
  h6, .h6
    font-size: rem(30)
    &, .elementor-widget-heading &.elementor-heading-title
      line-height: rem(40)
  body, .btn
    font-size: rem(22)
    letter-spacing: 0
    line-height: rem(32)