/*
 * --------------------
 * Mixins and Functions
 * --------------------
 */
/* Colors */
/* Links */
/* Fonts */
/* Header */
/* Forms */
@-webkit-keyframes LOGO_GROUP_1_IN {
  0% {
    opacity: 1; }
  25% {
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes LOGO_GROUP_1_IN {
  0% {
    opacity: 1; }
  25% {
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#CHAMAN_LOGO_SVG {
  max-height: 80%;
  max-width: 75vw;
  position: relative;
  margin: 0 auto;
  pointer-events: none; }
  #CHAMAN_LOGO_SVG .logo-heading {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translateY(-50%) translateX(50%);
        -ms-transform: translateY(-50%) translateX(50%);
            transform: translateY(-50%) translateX(50%);
    width: 100%;
    text-align: center;
    color: #fff;
    opacity: 0; }
  #CHAMAN_LOGO_SVG rect, #CHAMAN_LOGO_SVG path {
    opacity: 0; }

@media screen and (max-width: 480px) {
  #CHAMAN_LOGO_SVG svg {
    height: 100%;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    max-width: 150% !important;
    width: 150% !important;
    margin-left: -25%; } }

/* Fixing weird problem with revolution slider loader */
rs-loader {
  -webkit-animation: none !important;
          animation: none !important; }
