/*
 * --------------------
 * Blog Styling
 * --------------------
 */

.main-content
  .post
    p:last-child
      margin-bottom: 0
    main
      @include margin(null 100px);
      .post-content
        background: $orange
        padding: 70px 80px 80px
      .post-categories
        list-style: none
        padding: 0
        li
          display: inline-block
          text-transform: uppercase
        a
          color: $white
          text-decoration: none
          &:hover
            text-decoration: none
    .entry-thumbnail-side
      padding: 0
      background-size: cover
      background-repeat: no-repeat
      background-size: cover
      a, a:hover, a:active
        outline: none
      .entry-thumbnail
        margin: 0
        width: 100%
    .entry-thumbnail
      margin-bottom: 0
      a
        @include position(absolute, 0)
        opacity: 0
        &:hover, &:active
          outline: none
    .entry-title
      margin-bottom: 40px
      color: $white
      a
        color: $white
        text-decoration: none
        &:hover
          text-decoration: none
    .entry-content
      color: $white
    .entry-footer
      margin-top: 65px
      .read-more-link
        color: $white
        font-weight: bold
        text-decoration: underline
    &:not(:last-child)
      margin-bottom: 140px
    &:nth-child(odd)
      .entry-thumbnail-side
        order: 1
    &.category-news main .post-content
      background: $brown
    &.category-job-listing main .post-content
      background: $blue
  > footer
    display: flex
    flex-flow: row
    justify-content: center
    margin-bottom: 290px

@include media-breakpoint-down('md')
  .main-content
    .post
      main
        @include margin(null 50px)
        .post-content
          padding: 50px 50px 60px
        .entry-title
          margin-bottom: 40px
        .entry-footer
          margin-top: 45px
      &:not(:last-child)
        margin-bottom: 100px

@include media-breakpoint-down('sm')
  .main-content
    .post
      main
        @include margin(null 30px)
        .post-content
          padding: 25px 30px 25px
        .entry-title
          margin-bottom: 20px
        .entry-footer
          margin-top: 20px
      &:not(:last-child)
        margin-bottom: 50px

/*
 * --------------------
 * Single Post Styling
 * --------------------
 */
.single
  .content-wrapper
    background: $orange
  .main-content
    padding-top: 40px
    .entry-thumbnail
      margin-bottom: 40px
    .post
      main
        @include padding(null 0)
        background: none
        font-weight: normal
      .entry-title
        margin-bottom: 105px
    > footer
      .back-to-posts-btn
        font-weight: 500
        border-radius: 0
        border-width: 3px
        padding: 20px 100px
        font-size: 30px
  &.category-news .content-wrapper
    background: $brown
  &.category-job-listing .content-wrapper
    background: $blue

@include media-breakpoint-up('lg')
  .main-content
    .post main
      font-size: rem(30)
      line-height: rem(40)

@include media-breakpoint-down('md')
  .single
    .main-content
      .post
        main
          .entry-title
            margin-bottom: 50px

@include media-breakpoint-down('sm')
  .single
    .main-content
      .post
        main
          .entry-title
            margin-bottom: 30px