/*
 * --------------------
 * Header Styling
 * --------------------
 */
.header-overlay .content-wrapper
  padding-top: calc(#{$navbar-height} + 40px)

.navbar > .container > .row,
.navbar > .container-fluid > .row
  flex: 1

#navbar
  height: $navbar-height
  justify-content: space-between
  background: none
  position: relative
  margin-bottom: #{-1 * $navbar-height}
  padding: 0 100px
  z-index: 100
  transition: $transition-base
  .navbar-brand
    max-width: 30vw
    img
      max-width: 100%
      max-height: $navbar-logo-height
      opacity: 1
      transition: $transition-base
      &:not(.default-logo)
        display: none
        opacity: 0
  .main-navigation
    .menu-item
      padding: 0 1.5em
      margin-bottom: 0
    .seperator
      display: none
  .mobile-nav
    display: none
  .nav-toggle,
  .main-navigation .menu-item > a
    text-transform: uppercase
    font-weight: 700
    font-size: 30px
    text-decoration: none
    color: #fff
    &:active,
    &:hover
      opacity: .9
      color: #fff
  &.navbar-dark
    .nav-toggle,
    .navbar-nav .nav-link
      color: #fff
  &.js-is-stuck,
  &.js-is-sticky
    background: $tertiary
    .navbar-brand
      img
        max-height: $sticky-logo-height
        &.sticky-logo
          display: block
          opacity: 1
        &.sticky-logo ~ .default-logo
          display: none
          opacity: 0
  &.js-is-stuck,
  &.js-is-sticky--change
    height: $sticky-navbar-height
  .elementor-editor-active &
    pointer-events: none
  .admin-bar &
    &.js-is-stuck,
    &.js-is-sticky
      top: 32px !important

@keyframes mobileMenuIn
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes mobileMenuOut
  0%
    opacity: 1
  100%
    opacity: 0

@include media-breakpoint-down('xs')
  #navbar
    height: auto
    padding: 25px 30px
    align-items: flex-start
    .mobile-nav
      animation-name: mobileMenuOut
      animation-duration: .3s
      animation-timing-function: ease-in-out
      transition: visibility .1s ease-in-out .3s
      flex-flow: column
      align-items: flex-start
      padding: 20px
      z-index: 100
      overflow: auto
      opacity: 0
      @include position(fixed, 0)
      background: $secondary
      display: flex
    .mobile-nav.active
      opacity: 1
      display: flex !important
      visibility: visible !important
      animation-name: mobileMenuIn
      transition: visibility .1s ease-in-out 0s
    .nav-toggle
      font-size: 18px
    .main-navigation
      .seperator
        display: block
        padding-top: 2em
      .menu-item
        @include padding(.5em 0);
      > a
        font-size: 30px
    &.js-is-stuck,
    &.js-is-sticky
      align-items: center
    &:not(.js-is-stuck):not(.js-is-sticky)
      .mobile-logo
        display: block
        opacity: 1
        ~ .default-logo
          display: none
          opacity: 0
  body.navigation-overlay
    overflow: hidden

@include media-breakpoint-down('sm')
  #navbar
    padding: 0 50px

@include media-breakpoint-down('xs')
  #navbar
    padding: 0 30px