/*
 * --------------------
 * Header Styling
 * --------------------
 */
.content-wrapper
  padding-top: $navbar-height

.header-overlay .content-wrapper
  padding-top: 0

.navbar > .container > .row,
.navbar > .container-fluid > .row
  flex: 1

#navbar
  height: $navbar-height
  margin-bottom: -$navbar-height
  padding: $navbar-padding-y $navbar-padding-x
  justify-content: space-between
  align-items: flex-start
  background: none
  position: relative
  z-index: 100
  transition: $transition-base
  width: 100%
  &:after
    content: ''
    @include position(absolute, 0)
    display: block
    background: white
    opacity: 0
    transition: $transition-base
    z-index: -1
  .navbar-brand
    max-width: 50vw
    padding: 0
    img
      max-width: 100%
      max-height: $navbar-logo-height
      opacity: 1
      transition: $transition-base
      &:not(.default-logo)
        display: none
        opacity: 0
  .main-navigation
    .menu-item
      padding: 0 2.5em
      margin-bottom: 0
      &:first-child
        padding-left: 0
      &:last-child
        padding-right: 0
    .seperator
      display: none
  .mobile-nav
    display: none
    .social-links
      margin-top: 110px
      h6
        margin-bottom: 20px
      li
        display: inline-block
        font-size: rem(30)
        &:not(:first-child)
          margin-left: 10px
        &:not(:last-child)
          margin-right: 10px
        a
          color: inherit
  .nav-toggle,
  .main-navigation .menu-item > a
    text-transform: uppercase
    font-weight: 700
    font-size: rem(30)
    text-decoration: none
    color: #fff
    &:active,
    &:hover
      opacity: .9
      color: #fff
  &.navbar-dark
    .nav-toggle,
    .navbar-nav .nav-link
      color: #fff
  &.js-is-stuck,
  &.js-is-sticky--change
    height: $sticky-navbar-height
  &.js-is-stuck,
  &.js-is-sticky
    .navbar-brand
      img
        max-height: $sticky-logo-height
        &.sticky-logo
          display: block
          opacity: 1
        &.sticky-logo ~ .default-logo
          display: none
          opacity: 0
  &.js-is-sticky,
  &.js-is-stuck
    &:hover
      &:after
        opacity: 1
      .navbar-brand img
        filter: brightness(0%)
      .main-navigation .menu-item > a
        color: black
  .elementor-editor-active &
    pointer-events: none
  .admin-bar &
    &.js-is-stuck,
    &.js-is-sticky
      top: 32px !important

@keyframes mobileMenuIn
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes mobileMenuOut
  0%
    opacity: 1
  100%
    opacity: 0

@include media-breakpoint-down('md')
  .content-wrapper
    padding-top: $navbar-md-height
  #navbar
    margin-bottom: -$navbar-md-height
    height: $navbar-md-height
    @include padding( $navbar-md-padding-y $navbar-md-padding-x )
    .navbar-brand img
      max-height: $navbar-md-logo-height
    .main-navigation
      .menu-item > a
        font-size: rem(18)
    &.js-is-stuck,
    &.js-is-sticky--change
      height: $sticky-md-navbar-height
    &.js-is-stuck,
    &.js-is-sticky
      .navbar-brand
        img
          max-height: $sticky-md-logo-height

@include media-breakpoint-down('xs')
  .content-wrapper
    padding-top: $navbar-sm-height

  #navbar
    margin-bottom: -$navbar-sm-height
    height: $navbar-sm-height
    @include padding( $navbar-sm-padding-y $navbar-sm-padding-x )
    .navbar-brand img
      max-height: $navbar-sm-logo-height
    &.js-is-stuck,
    &.js-is-sticky--change
      height: $sticky-sm-navbar-height
    &.js-is-stuck,
    &.js-is-sticky
      .navbar-brand
        img
          max-height: $sticky-sm-logo-height

  #navbar
    height: auto
    padding: 25px 30px
    align-items: flex-start
    &:after
      display: none
    .mobile-nav
      animation-name: mobileMenuOut
      animation-duration: .3s
      animation-timing-function: ease-in-out
      transition: visibility .1s ease-in-out .3s
      flex-flow: column
      align-items: flex-start
      padding: 20px
      z-index: 100
      overflow: auto
      opacity: 0
      @include position(fixed, 0)
      background: $secondary
      display: flex
      &.active
        opacity: 1
        display: flex !important
        visibility: visible !important
        animation-name: mobileMenuIn
        transition: visibility .1s ease-in-out 0s
    .nav-toggle
      font-size: rem(18)
    .main-navigation
      .seperator
        display: block
        padding-top: 2em
      .menu-item
        @include padding(.5em 0);
        > a
          font-size: rem(30)
          line-height: 1.5
        &:nth-child(3n):not(:last-child)
          margin-bottom: 45px
    .navbar-brand
      margin-right: 0
      img
        height: 60px
    &:not(.js-is-stuck):not(.js-is-sticky)
      .navbar-brand
        .mobile-logo
          display: block
          opacity: 1
          ~ .default-logo
            display: none
            opacity: 0
    &.js-is-stuck,
    &.js-is-sticky
      .navbar-brand
        img
          filter: none
        .sticky-mobile-logo
          display: block
          opacity: 1
          ~ .sticky-logo,
          ~ .mobile-logo,
          ~ .default-logo
            display: none
            opacity: 0
      &:hover
        background: none
        .main-navigation .menu-item > a
          color: white
        .navbar-brand img
          filter: none
  body.navigation-overlay
    overflow: hidden